<div class="ui four column grid">
    {{!-- {{#each}} --}}
    <div class="column">
        <div class="ui segment">
            <div class="ui medium images">
                <a href="/clubs/review/{{clubid}}">
                    <img class="club-image" src="{{clubimg}}">
                </a>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    <div class="column">
        <div class="ui segment">
            <div class="ui medium images">
                <a href="/clubs/review">
                    <img class="club-image" src="https://scontent.fsin2-1.fna.fbcdn.net/v/t1.0-9/11223528_820204634769428_1171992244585524005_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF3elbudZC0lzPLEbgXd2SRDH654u_wjlrZfbVn_Ko5W2NdoeGwNvvr481-BfVRyxQslKnbqErOeYg1mjqgzTX6_NNombJ5-hgmRT0_6-Iu8w&oh=7f046fd9c6560c0cc9aeb40ff90fcc78&oe=5B297BE2">
                </a>
            </div>
        </div>
        </form>
    </div>
    <div class="column">
        <div class="ui segment">
            <div class="ui medium images">
                <a href="/clubs/review">
                    <img class="club-image" src="https://scontent.fsin2-1.fna.fbcdn.net/v/t1.0-9/12391293_1031227713578429_5936147327261461883_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFU15tR4BkVVPpHG44frhIAEz3wp93nFf5ajVwTB_KZLrqnxa-sW2dXda_2TKbxYLjHKR_WHPvYUet7J_EX2iZD-EAVWkDsF3jRRYjsGMT5MQ&oh=17e906a081f1da71abb16867c5044fd7&oe=5B6A1058">
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <div class="ui medium images">
                <a href="/clubs/review">
                    <img class="club-image" src="https://scontent.fsin2-1.fna.fbcdn.net/v/t1.0-9/21462651_697344547133157_1311610755208708469_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHXlNm_xYceu5DEw4zgkyfhJjI401hypNd55Hqyu8_sjd6bN__xKdjgFIHM1vjHbp97egBa8hu_cBAMCL0eky8fwn0c3YFPrM6IrVwQ0LiXwA&oh=7c902480912b4607925dad984b117fef&oe=5B29EE97">
                </a>
            </div>
        </div>
        </form>
    </div>
    <div class="column">

        <div class="ui segment">
            <div class="ui medium images">
                <a href="/clubs/review">
                    <img class="club-image" src="https://scontent.fsin2-1.fna.fbcdn.net/v/t1.0-9/14212090_1067247923365245_8958346898669165672_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHx8Zr7DdRb2p8KshyexmgqhvyhCDHcAtVJWSewNu247NAHsdTytwl78Es-QKhBPqLzz2RSUNbgeEQLRo6oKJMSWHjq54Plj-IGBhmjuqPuaw&oh=e6679d11277ea61b7d963c30e2e402b4&oe=5B671840">
                </a>
            </div>
        </div>
        </form>
    </div>
</div>