.profile {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.username {
    text-align: center;
}

.overall-rating {
    text-align: center;
}

.club-description {
    text-align: center;
}

.like {
    text-align: center;
}

.user-description {
    white-space: pre-line;
}

.bookmark {
    text-align: center;
}

.edit-del {
    text-align: center;
}