<form class="user-form" method="POST" action="/users/login">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui big form">
                <div class="one fields">
                    <div class="ten wide field">
                        <label>Username</label>
                        <input placeholder="Username" type="text" name="name">
                    </div>
                </div>
            </div>
            <div class="two column centered row">
                <div class="column">
                    <div class="ui big form">
                        <div class="one fields">
                            <div class="ten wide field">
                                <label>Password</label>
                                <input placeholder="Password" type="password" name="password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two column centered row">
                <div class="column">
                    <button class="positive ui button">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>