<div class="ui celled grid">
    <div class="row">
        <div class="three wide column profile">
            <div class="ui fluid black centered card">
                <div class="image">
                    <img src="{{img}}">
                </div>
                <div class="content">
                    <a class="header">{{username}}</a>
                </div>
            </div>
            <p></p>
            <a href="/users/{{userid}}/edit">
                <div class="ui olive vertical animated button" tabindex="0">
                    <div class="hidden content">Edit</div>
                    <div class="visible content">
                        <i class="pencil icon"></i>
                    </div>
                </div>
            </a>
            <p></p>
            <form action="/clubs/new" method="GET">
                <button class="ui teal button">
                    <i class="icon add"></i>
                    Add Reviews
                </button>
            </form>
        </div>
        <div class="thirteen wide column">
            <div class="ui two item menu">
                <a class="item">Reviews</a>
                <a class="item">Bookmarks</a>
            </div>
        </div>
    </div>
</div>