<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
            <h3 class="ui header username">test</h3>
            <img class="ui medium bordered rounded image" src="https://avatarfiles.alphacoders.com/752/75205.png">
            <br>
            <div class="ui labeled button" tabindex="0">
                <div class="ui tiny red button">
                    <i class="heart icon"></i> Like
                </div>
                <a class="ui basic red left pointing label">
                    0
                </a>
            </div>
            <button class="ui blue icon button">
                <i class="icon bookmark "></i>
                Bookmark
            </button>
        </div>
        <div class="ten wide column">
            <h3 class="ui center aligned header">
                ICON 2
            </h3>
            <img class="ui centered medium circular image" src="https://scontent.fsin2-1.fna.fbcdn.net/v/t1.0-9/19146210_660081014187582_1409497989286272208_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeE9ItKu2M1SsYpiS7QTercCi3Au75k53C43-OVxdNDRyzpBgPb3NeyRKJwpNa4noqldZ_uXIQzoDSOWmgYebIirlJy1KA9eg0IXpNxqnMm7oQ&oh=76db202498f0eb445f68e907a2e7c412&oe=5B29992D">
            <h2 class="ui dividing left aligned header">
                Location
            </h2>
            <p>35, Selegie Road Parklane Shopping Mall #04</p>
            <p>Singapore 188307</p>
            <h2 class="ui dividing header">
                Ratings
            </h2>
        </div>
    </div>
</div>